@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

.wrapper {
	margin-right: auto;
	/* 1 */
	margin-left: auto;
	/* 1 */
	max-width: 960px;
	/* 2 */
	padding-right: 10px;
	/* 3 */
	padding-left: 10px;
	/* 3 */
}

body {
	background: #f8f8f8;

}

.container {
	width: 95%;
	max-width: 1000px;
	margin: 0 auto;
}

header {
	/*создать блок с классом header*/
	background: #E54B4B;
	color: #EBEBD3;
	padding: 1em 0;
	position: relative;
}

header::after {
	font-style: italic;
	content: '';
	margin-left: 20%;
	clear: both;
	display: block;
}

.logo {
	float: left;
	font-size: 1rem;
	color: #EBEBD3;
	margin: 0;
	text-transform: uppercase;
	font-weight: 700;
}

.logo span {
	font-weight: 400;
}

.site-nav {
	position: absolute;
	top: 100%;
	right: 0%;
	background: #464655;
	clip-path: circle(0px at top right);
	transition: clip-path ease-in-out 700ms;
	/*   display: none; */
}

.site-nav--open {
	clip-path: circle(250% at top right);
	/*   display: block; */
}

.site-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-nav li {
	border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
	border-bottom: none;
}

.site-nav a {
	color: #EBEBD3;
	display: block;
	padding: 2em 4em 2em 1.5em;
	text-transform: uppercase;
	text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
	background: #E4B363;
	color: #464655;
}

.site-nav--icon {
	display: inline-block;
	font-size: 1.5em;
	margin-right: 1em;
	width: 1.1em;
	text-align: right;
	color: rgba(255, 255, 255, .4);
}

.menu-toggle {
	padding: 1em;
	position: absolute;
	top: .5em;
	right: .5em;
	cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	content: '';
	display: block;
	background: #EBEBD3;
	height: 3px;
	width: 1.75em;
	border-radius: 3px;
	transition: all ease-in-out 500ms;
}

.hamburger::before {
	transform: translateY(-6px);
}

.hamburger::after {
	transform: translateY(3px);
}

.open .hamburger {
	transform: rotate(45deg);
}

.open .hamburger::before {
	opacity: 0;
}

.open .hamburger::after {
	transform: translateY(-3px) rotate(-90deg);
}

@media (min-width: 700px) {

	.menu-toggle {
		display: none;
	}

	.site-nav {
		height: auto;
		position: relative;
		background: transparent;
		float: right;
		clip-path: initial;
	}

	.site-nav li {
		display: inline-block;
		margin-top: 5%;
		/*блок меню*/
		border: none;
	}

	.site-nav a {
		padding: 0;
		margin-left: 3em;
	}

	.site-nav a:hover,
	.site-nav a:focus {
		background: transparent;
	}

	.site-nav--icon {
		display: none;
	}

	.heading {
		color: #000;
		font-size: 18px;
		font-weight: 400;
		background: #eaeaea;
	}

	figure {
		display: inline-block;
		margin-left: 0 auto;
		text-align: center;
		float: left;

	}

	.hr {
		border-radius: 10px;
		box-shadow: 0 0 7px 3px #575766;
		text-indent: 10px;
		padding: 10px 10px 10px 10px;
		margin: 10px;
		width: 200px;
	}

	.page-img {
		margin-left: 40px;
		border-radius: 10px;
		box-sizing: border-box;
		box-shadow: 0 0 7px 3px #575766;
		text-indent: 30px;
		padding: 10px 20px 10px 20px;
		width: 200px;
	}

	.page-img:hover {
		box-shadow: none;
	}

	p:first-letter {
		text-indent: 50px !important;
		font: italic bold 30px Lucida Console;
		color: #E54B4B;
	}

	.pko {
		margin-left: 40px;
		font-style: italic !important;
		font-size: 14px !important;
		color: #707070;
		line-height: 16px
	}

	.ppo {
		margin-left: 40px;
		color: #484343;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
	}

	/*.characteristics {
		margin-left: 40px;
		list-style-image: url(../img/check-15.png);
		font-style: oblique;
		font-weight: 300;
		line-height: 26px;
		font: cursive;
	}*/

	.table {
		margin-left: 40px;
		border: 1px solid #484343;
		border-collapse: collapse;
		font-style: oblique;
		font-weight: 300;
		line-height: 26px;
		font: cursive;
	}

	td {
		border: 2px solid #484343;
		vertical-align: middle;
	}

	.t1 {
		margin: 10px 40px;
		border: 1px solid #000;
		width: 300px;
		height: 150px;
		border-collapse: collapse;
	}

	.top-line {
		height: 50px;
		background-color: cornflowerblue;
	}

	.t1 td {
		border: 1px solid #000;
		vertical-align: middle;
		text-align: center;
	}


	.video {
		margin-left: 40px;
	}

	.next-page {
		display: inline-block;
		margin-left: 40px;
		font-style: oblique;
		font-weight: 300;
		font-size: 20px;
		font: cursive;
		color: #464655;
		text-decoration: none;
	}

	footer {
		/*Создать блок с классом footer и разместить в него содержимое футера.*/
		margin-top: 5%;
		text-align: center;
		color: #000;
		height: 60px;
	}

	#inline {
		margin-left: 30px;
		width: 80%;
		margin: 0 auto;
		background: #f8f8f8;
		padding: 10px 20px;
	}

	.txt {
		display: inline-block;
		color: #676767;
		width: 190px;
		margin-bottom: 10px;
		border: 1px solid #CCC;
		padding: 5px 9px;
		font-size: 15px !important;
		line-height: 1.4em;
	}


	.txtarea {
		display: inline-block;
		color: #676767;
		width: 617px;
		margin-bottom: 10px;
		border: 1px solid #CCC;
		padding: 5px 9px;
		font-size: 15px !important;
		line-height: 1.4em;
		height: 80px;
		text-transform: capitalize;
	}

	.txt:hover {
		color: firebrick;
	}

	.txt:focus {
		color: mediumblue;
		background-color: lightgoldenrodyellow;
		text-transform: capitalize;
	}

	.txtarea:focus {
		border-style: solid;
		border-color: #BABABA;
		color: #444;
	}

	input.error,
	textarea.error {
		border-color: #973D3D;
		border-style: solid;
		background: #F0BEBE;
		color: #A35959;
	}

	input.error:focus,
	textarea.error:focus {
		border-color: #973D3D;
		color: #A35959;
	}

	#send {
		color: #FFFFFF;
		display: block;
		cursor: pointer;
		padding: 5px 11px;
		font-size: 1.2em;
		border: solid 1px #F9F9F9;
		border-radius: 2px;
		background: #E54B4B;
		width: 210px;
		margin-bottom: 20px;
	}

	#send:hover {
		background: #979797;
	}

	#adress {
		font: italic bold 16px Lucida Console;
		font-weight: normal;
		color: #000;
		width: 600px;
		padding-top: 0px;
		line-height: 2em;
		height: 10px;
		border: none;
	}
}
